
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand em-text" href="/">LABRARY MANAGMENT SYSTEM</a>
        </div>
        <div id="navbar " class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
				<li><a href="author">Author</a></li>
				<li><a href="Admin">Book</a></li>	
				<li><a href="genre">Genre</a></li>
				<li><a href="publisher">Publisher</a></li>
				<li><a href="publisher">Borrower</a></li>
				<li><a href="libraryBranch">Library Branch</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
